@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
  @apply w-full mx-auto md:px-11 px-3
}

.title{
  @apply font-serif text-2xl font-semibold italic
}
.active{
  @apply text-xl font-medium text-col hover:text-logo2 hover:underline underline transition-colors duration-200 tracking-wide 
}
.default{
  @apply text-xl font-medium text-subtitle hover:text-logo2 hover:underline transition-colors duration-200 tracking-wide
}
.btn-star{
  @apply bg-gradient-to-r from-col to-btnmcolor py-2 md:py-4 md:px-7 px-3 rounded-md text-white 
  md:text-xl md:font-bold font-semibold font-mono transition duration-200
  hover:bg-gradient-to-r hover:from-btnhover hover:to-logo2
}

.title-cate-fea{
  @apply text-3xl md:text-5xl font-bold text-slate-800 mt-24 pb-4
}
.description{
  @apply font-medium text-slate-500
}

.time {
  @apply border-logo2 border rounded py-1 px-3 text-logo font-semibold
}
.company-btn {
  @apply font-bold text-white text-xl bg-gradient-to-r from-col to-logo2 py-3 px-5 rounded-md tracking-wide mt-3
        hover:bg-gradient-to-r hover:from-btnhover hover:to-logo2 transition duration-200
}

/* blog section or component style */
.blog-cart {
  @apply border mb-8 rounded-lg p-5 hover:-top-4
       relative transition duration-200 md:h-80 shadow-2xl
}
.blog-question {
  @apply text-xl md:text-3xl font-semibold pb-3
}
.blog-ans {
  @apply text-xl text-justify
}

/* Error section style */
.emoji {
  @apply text-center text-zinc-500 text-8xl md:text-[280px]
}
.four-style{
  @apply text-3xl md:text-5xl font-extrabold md:pr-3
}
.found-style {
  @apply mt-1 md:mt-3 text-gray-700 text-xl md:text-2xl font-semibold tracking-wide
}
.zero {
  @apply text-3xl md:text-6xl text-zinc-500 font-bold
}
.error-btn {
  @apply bg-slate-400 py-2 px-7 mt-2 text-xl font-semibold rounded-md text-white 
        hover:bg-gray-500 transition duration-200 tracking-wide
}